.wrapper {
    background: rgb(175, 175, 175);
    background-image: url('https://i.pinimg.com/originals/54/c0/63/54c0631fa559f790a6565dc849323ba0.jpg');
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
    padding-bottom: 50px;
  }